<div class="model">
    <el-table
    :data="tableData"
    stripe
    :border='true'
    style="width: 100%">
    <el-table-column
      prop="date"
      label="序号"
      width="90">
    </el-table-column>
    <el-table-column
      prop="name"
      label="类型"
      width="125">
    </el-table-column>
    <el-table-column
      prop="address"
      label="型号"
      width="142">
    </el-table-column>
    <el-table-column
      prop="date"
      label="名称"
      width="284">
    </el-table-column>
    <el-table-column
      prop="name"
      label="厂家"
      width="138">
    </el-table-column>
    <el-table-column
      prop="address"
      label="图片"
      width="136">
    </el-table-column>
    <el-table-column
      prop="date"
      label="租金/售价"
      width="230">
    </el-table-column>
    <el-table-column
      prop="name"
      label="支付方式"
      width="158">
    </el-table-column>
    <el-table-column
      label="操作">
    </el-table-column>
  </el-table>
</div>